@model IEnumerable<teste02.Models.RelatorioModel>

@{
    ViewData["Title"] = "Relatório";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Relatório</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaoNome)
                </td>
            </tr>
        }
    </tbody>
</table>

