@model IEnumerable<teste02.Models.CaoModel>


@{
    ViewData["Title"] = "Cão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Cães</h4>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Pesquisa">
            <input type="text" name="pesquisaRaca" id="pesquisaRaca" placeholder="Pesquisar por Raça">
            <input type="submit" value="Pesquisar" class="btn btn-primary btn-sm" />
        </form>
    </div>
</div>
<hr />
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

</script>
